<%= simple_form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">

  <p>Title: </p> <%= f.text_field :title %>
  <br>
  <p>Add some details: </p><%= f.text_area :text, size: "40x12" %>
  <br>
  <p>Select receivers: </p><%= f.select :user_ids, User.all.collect {|x| [x.email, x.id]}, {}, :multiple => true %>
  <%= f.input :completion, :as => :datetime_picker %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
